.btn.dropdown-toggle.clearfix.btn-primary {
    width: 96px;
}

.navbar-text.pull-right {
    padding-top: 2px;
}

.btn.btn-sm.btn-danger.btn-mini {
    margin-right: 10px;
}

.btn-group {
    margin-top: 2px;
    margin-right: 2px;
}

.navbar .btn, .navbar .btn-group {
    margin-top: 7px;
}
.input_button_wrapper {
    margin-top: -30px;
    float:right;
}
a:hover, a:focus {
    color: #005580;
    text-decoration: none;
}
.input_wrapper {
    width: 217px;
    margin-right: 15px;
}
.title > span{
    padding-left: 4px;
    display: inline-block;
    padding-top: 3px;
}
.detailed {
}
.collapse{
    background: #fff;
}

.table-column {
    float: left;
    width: 220px;
    text-align: right;
    padding-right: 10px;
}
.table-column-view {
    float: left;
    width: 140px;
    text-align: left;
    padding-right: 10px;
}
.table-column-view .tag{
    width: 150px;
}
.table-cell {
    display: inline-block;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ddd;
    padding-bottom: 5px;
}
.table-content {
    margin-left: 20px;
}
.table-header {
    width: 100%;
    display: inline-block;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ddd;
    margin-bottom: 5px;
}
.navbar .brand {
    padding-right: 1px;
}
.tag{
    width: 130px;
    text-align: right;
}
.btn-group-right{
    float: right;
    padding-right: 10px;
}
@media ( max-width : 767px) {
    /* Enable use of floated navbar text */
    .btn.btn-sm.btn-danger.btn-mini {
        margin-right: 5px;
    }
    .btn.dropdown-toggle.clearfix.btn-primary {
        margin-right: 5px;
    }
    .nav-tabs > li{
        width:100%;
    }
    .nav-tabs{
        padding-left: 0px;
    }
    .nav-tabs > li > a{
        -webkit-border-radius: 0 0 0 0;
        -moz-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
        border-bottom-color: #ddd;
    }
    .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
        border-bottom-color: #3498DB;
    }
    .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        border-color: #eeeeee;
    }
    .well.sidebar-nav.sidebarbox {
        padding-left: 10px;
    }
    .data-table {
        margin-top: 0px; 
    }
    .span10.earch-query {
        width: 100% !important;
    }
    .pull-right div {
        margin-right: 10px;
    }
    .input-append {
        width: 100%;
    }
    .form-search {
        margin-top: 3px;
        margin-right: 0px;
    }
    .input_wrapper {
        width: auto;
        margin-right: 54px;
    }
    .btn.clearfix.btn-info.btn-menu.navbar-toggle{
        width: 32px;
        padding-left: 9px;
        padding-right: 9px;
        display:block;
        margin-right: 10px;
    }
    .btn.clearfix.btn-info.btn-menu.navbar-toggle.collapsed{
        width: 32px;
        padding-left: 9px;
        padding-right: 9px;
        display:block;
        margin-right: 20px;
    }
    .btn.dropdown-toggle.clearfix.btn-info{
        margin-right: 10px;
    }
}

@media ( min-width : 768px) {
    .btn.clearfix.btn-info.btn-menu.navbar-toggle {
        display:none;
    }

    .row-fluid.menu-link.in.collapse {
        height: auto !important;
        overflow: visible !important;
    }

    .row-fluid.menu-link.collapse {
        height: auto !important;
        overflow: visible !important;
    }

    .nav.nav-tabs {
        padding-left: 20px;
        margin-top: -9px;
    }
}

@media ( max-width : 440px) {
    .table-column {
        float: left;
        text-align: left !important;
        width: 100%;
    }
    .form_datetime > input {
        width: 100%;
    }
    .form_datetime > select {
        width: 100%;
    }
    .table-cell {
        width: 100%;
        padding-right: 10px;
    }
    .form_datetime {
        padding-right: 12px;
    }
    .table-column-view {
        width: 100px;
    }
    .btn-group {
        display: inline-block;
    }
    .full {
        width: 100%;
    }
    .btn-group-right{
        width: 100%;
        float: initial;
        padding-top: 10px;
    }
    .btn-group-right a{
        width: 100%;
        float: initial;
    }
    .pull-right div {
        margin-right: 25px;
    }
}