*.class
*.prefs
.settings
.project
.classpath

# Package Files #
*.jar
*.war
*.ear
/crm/src/main/webapp/Charts/exporting-server/java/highcharts-export/highcharts-export-convert/target/
/crm/src/main/webapp/Charts/exporting-server/java/highcharts-export/highcharts-export-web/target/