<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
  <property name="hibernate.connection.password">crm</property>
 <!--  db.host=192.168.0.120
     <property name="hibernate.connection.url">jdbc:mysql://192.168.0.100/crmdb</property>
     -->
  <property name="hibernate.connection.url">jdbc:mysql://localhost/crmdb</property>
  <property name="hibernate.connection.username">crm</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
  <property name="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</property>
  <property name="current_session_context_class">thread</property>
  <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
  <property name="c3p0.acquire_increment">1</property>
  <property name="c3p0.idle_test_period">60</property>
  <property name="hibernate.c3p0.min_size">5</property>
  <property name="hibernate.c3p0.max_size">20</property>
  <property name="hibernate.c3p0.timeout">90</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="c3p0.preferredTestQuery ">select 1 from dual</property>
  <property name="c3p0.idleConnectionTestPeriod ">60</property>
  <property name="c3p0.maxIdleTime">60</property>
  <property name="c3p0.testConnectionOnCheckout">true</property>
  <mapping resource="com/rex/crm/db/hbm/Account.hbm.xml"/>
  <mapping resource="com/rex/crm/db/hbm/Accountcrmuser.hbm.xml"/>
  <mapping resource="com/rex/crm/db/hbm/Activity.hbm.xml"/>
  <mapping resource="com/rex/crm/db/hbm/City.hbm.xml"/>
  <mapping resource="com/rex/crm/db/hbm/Contact.hbm.xml"/>
  <mapping resource="com/rex/crm/db/hbm/Crmuser.hbm.xml"/>
  <mapping resource="com/rex/crm/db/hbm/Province.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
